@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var currentUrl = Context.Request.Path;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <title>SmartyStars Dashboard</title>
    
    <link rel="stylesheet" href="~/admin/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/admin/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/admin/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/admin/modules/summernote/summernote-lite.css">
    <link rel="stylesheet" href="~/admin/modules/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/admin/css/demo.css">
    <link rel="stylesheet" href="~/admin/css/style.css">
</head>

<body>
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar" style="transform: translate3d(0px, 0px, 0px); position: fixed; top: 0px;">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="ion ion-search"></i></a></li>
                    </ul>

                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
                            <i class="ion ion-android-person d-lg-none"></i>
                            @{
                                var userEmailClaimValue = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress")?.Value;
                                var userNameClaimValue = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")?.Value;
                            }
                            <div class="d-sm-none d-lg-inline-block">Hi, @userNameClaimValue</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a asp-action="SignOut" asp-controller="Auth" class="dropdown-item has-icon">
                                <i class="ion ion-log-out"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="main-sidebar" tabindex="1" style="overflow: hidden; outline: none;">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index.html">SmartyStars</a>
                    </div>

                    <ul class="sidebar-menu">
                        <li class="menu-header">Dashboard</li>
                        <li class="@((currentUrl == "/admin" || currentUrl == "/admin/index") ? "active" : "")">
                            <a href="/Admin/Index"><i class="ion ion-speedometer"></i><span>Dashboard</span></a>
                        </li>
                        <li class="menu-header">Entities</li>
                        <li class="@((currentUrl == "/admin/courses") ? "active" : "")">
                            <a href="/Admin/Courses"><i class="ion ion-android-list"></i><span>Courses</span></a>
                        </li>
                        <li class="@((currentUrl == "/admin/teachers") ? "active" : "")">
                            <a href="/Admin/Teachers"><i class="ion ion-android-list"></i><span>Teachers</span></a>
                        </li>                       
                        <li class="@((currentUrl == "/admin/students") ? "active" : "")">
                            <a href="/Admin/Students"><i class="ion ion-android-list"></i><span>Students</span></a>
                        </li>                        
                        <li class="@((currentUrl == "/admin/admins") ? "active" : "")">
                            <a href="/Admin/Admins"><i class="ion ion-android-list"></i><span>Admins</span></a>
                        </li>
                        <li class="menu-header">Misc</li>
                        <li class="@((currentUrl == "/admin/register") ? "active" : "")">
                            <a href="/Admin/Register"><i class="ion ion-android-list"></i><span>Admin registration</span></a>
                        </li>

                    </ul>
                </aside>
            </div>

            <div class="main-content">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/admin/modules/jquery.min.js"></script>
    <script src="~/admin/modules/popper.js"></script>
    <script src="~/admin/modules/tooltip.js"></script>
    <script src="~/admin/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/admin/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/admin/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
    <script src="~/admin/js/sa-functions.js"></script>
    <script src="~/admin/modules/chart.min.js"></script>
    <script src="~/admin/modules/summernote/summernote-lite.js"></script>

@*     <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                    label: 'Statistics',
                    data: [460, 458, 330, 502, 430, 610, 488],
                    borderWidth: 2,
                    backgroundColor: 'rgb(87,75,144)',
                    borderColor: 'rgb(87,75,144)',
                    borderWidth: 2.5,
                    pointBackgroundColor: '#ffffff',
                    pointRadius: 4
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 150
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            display: false
                        }
                    }]
                },
            }
        });
    </script> *@

    <script src="~/admin/js/scripts.js"></script>
    <script src="~/admin/js/custom.js"></script>
    <script src="~/admin/js/demo.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>