@model VirtualTeacher.Models.ViewModel.CourseViewModel.CourseViewModel
@{
    ViewBag.Title = "Lectures";
    //int progress = 5;
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<style>
    #navigation
    {
        text-align: left;
        margin-left: 5vh;
    }
    .card
    {
      margin:10px;
    }
</style>

@section Scripts
{
    <script src="/js/lectures.js"></script>
}

<div class="row align-items-center justify-content-center g-0 min-vh-100 position-relative" style="overflow: hidden; height: 97vh; margin-left: unset; margin-right: unset;">
    <div class="course-grid-container">
        <!-- Left Menu -->
        <div class="course-left-menu">
            <div id="accordion">
                @foreach (var lecture in Model.Lectures)
                {
                    <div class="card">
                        <div class="card-header" id="heading@(lecture.Id)">
                            <a class="card-link" data-toggle="collapse" href="#description@(lecture.Id)" aria-expanded="false" aria-controls="description@(lecture.Id)">
                                @lecture.Title
                            </a>
                        </div>

                        <div id="description@(lecture.Id)" class="collapse" aria-labelledby="heading@(lecture.Id)" data-parent="#accordion">
                            <div class="card-body">
                                <h4>What you'll learn</h4>
                                <p>@Html.Raw(lecture.Description)</p>
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action video-link" data-video-url="@lecture.VideoURL">
                                        <i class="fas fa-video"></i> Video
                                    </a>
                                    @if (lecture.Assignment != null)
                                    {
                                        var settings = new Newtonsoft.Json.JsonSerializerSettings
                                        {
                                            ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                                        };
                                        var assignmentContentsJson = Newtonsoft.Json.JsonConvert.SerializeObject(lecture.Assignment.AssignmentContents, settings);
                                        <a href="#" class="list-group-item list-group-item-action assignment-link"
                                           data-assignment-id="@lecture.Assignment.Id"
                                           data-assignment-contents='@Html.Raw(assignmentContentsJson)'>
                                            <i class="fas fa-file-alt"></i> Assignment
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- Main Content -->
        <div class="course-right-menu">
            <main>
                <div id="lectureContent">
                    <!-- Content will be dynamically loaded here -->
                </div>
            </main>
        </div>
    </div>
</div>

