@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model VirtualTeacher.Models.ViewModel.AdminViewModel.DashboardViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@* <head>
    <style>
        @media (min-width: 768px) 
        {
            .col-md-3 
            {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                flex: 0 0 20%;
                max-width: 20%;
            }
        }
    </style>
</head> *@

<section class="section">
    <h1 class="section-header">
        <div>Dashboard</div>
    </h1>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="card card-sm-3">
                <div class="card-icon bg-primary">
                    <i class="ion ion-person"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Admins</h4>
                    </div>
                    <div class="card-body">
                        @Model.TotalAdmins
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="card card-sm-3">
                <div class="card-icon bg-danger">
                    <i class="ion ion-person-stalker"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Teachers</h4>
                    </div>
                    <div class="card-body">
                        @Model.TotalTeachers
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="card card-sm-3">
                <div class="card-icon bg-warning">
                    <i class="ion ion-ios-people"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Students</h4>
                    </div>
                    <div class="card-body">
                        @Model.TotalStudents
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="card card-sm-3">
                <div class="card-icon bg-success">
                    <i class="ion ion-ios-bookmarks"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Courses</h4>
                    </div>
                    <div class="card-body">
                        @Model.TotalCourses
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12 col-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>Recent actions</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled list-unstyled-border">
                        @foreach(var log in Model.RecentLogs)
                        {
                            <li class="media">
                                <div style="border-bottom:solid 1px gray;"class="media-body">
                                    <div style="font-size:17px; font-weight:400"class="media-title">@log.Message</div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        <a href="/Admin/Courses" class="btn btn-primary">View All</a>
                    </div>
                    <h4>Latest Courses</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var course in Model.RecentCourses)
                                {
                                    <tr>
                                        <td>
                                            @course.Title
                                            <div class="table-links">
                                                in <a>@course.CourseTopic.Topic</a>
                                            </div>
                                        </td>
                                        <td>
                                            @course.Creator.FirstName @course.Creator.LastName
                                        </td>
                                        <td>
                                            @course.Creator.Email
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
